<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>UB2797YAAH</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <!-- provisioningProfiles UUID는 CI에서 IOS_PROVISIONING_PROFILE_UUID 환경변수로 동적 주입됨 (Fastfile export_options Hash 참고) -->
    <key>provisioningProfiles</key>
    <dict>
        <key>com.washer.v2</key>
        <string>$(IOS_PROVISIONING_PROFILE_UUID)</string>
    </dict>
</dict>
</plist>
